<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
          integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">


    <link rel="stylesheet" href="style.css">



    <title>TheBigCB.com</title>



</head>
<body>
<div class="navBar">

    <div class="logo">
     <h1>This must will be logo</h1>
    </div>

    <div class="menuItems">
        <div class="active">
            <a href="">Home</a>
        </div>
        <div>
            <a href="projects">Projects</a>

        </div>

        <div>
            <a href="about">About</a>

        </div>

    </div>
    <button class="hamburgerButton" onclick="">
        <i class="fa fa-bars" style="font-size:24px;color:white"></i>
    </button>

    <div class="socials">
   
        <div>
            <a href="https://twitter.com/code_bullet">
                <div class="tooltip">
                    <i class="fa fa-telegram" style="font-size:24px;color:white"></i>
                    <span class="tooltiptext">Telegram</span>
                </div>
            </a>
        </div>
       
   
        <div>
            <a href="https://github.com/Code-Bullet">
                <div class="tooltip">
                    <i class="fa fa-github" style="font-size:24px;color:white"></i>
                    <span class="tooltiptext">GitHub</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- THIS WILL BE SNAKE -->

</body>
</html>